<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>
  <body>
      <div class="navbar-wagon">
      <!-- Logo -->
        <!-- <a href="/" class="navbar-wagon-brand">
          <img src="images/logo.png" alt="logo">
        </a> -->
        <p>Elisabeth Guillemain</p>

        <!-- Right Navigation -->
        <div class="navbar-wagon-right hidden-xs hidden-sm">

          <a href="home" class="navbar-wagon-item navbar-wagon-link">Accueil</a>
          <a href="peintures" class="navbar-wagon-item navbar-wagon-link">Mes peintures</a>
          <a href="" class="navbar-wagon-item navbar-wagon-link">Mes expos</a>
          <a href="contact" class="navbar-wagon-item navbar-wagon-link">Contact</a>


          <!-- Profile picture with dropdown list -->
        </div>

      <!-- Dropdown appearing on mobile only -->
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="home">Accueil</a></li>
            <li><a href="peintures">Peintures</a></li>
            <li><a href="#">Expos</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <%= yield %>

    <div class="footer">
      <div class="footer-links">
        <a href="https://www.instagram.com/babetteguillemain/?hl=fr" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.facebook.com/Jean-fran%C3%A7ois-Conta-573109466218637/" target="_blank"><i class="fa fa-facebook"></i></a>
      </div>
      <div class="footer-copyright">
        Site conçu avec <i class="fa fa-heart"></i> par Maxou
      </div>
    </div>
  </body>
</html>
